@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base globales para suavizado de fuente */
body {
  /* Aplicamos tus colores y fuente globales */
  @apply antialiased text-secondary bg-primary font-sans;
}
